@import 'variables';

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.navbar{
    background-color: #fff;
    background-image: none!important;
}

.item-container{
    padding:9% 5% 0 5%;
}
.item{
	.list-group-item{
		float: none;
    	width: 100%;
    	background-color: #fff;
    	margin-bottom: 10px;
		img{
    		float: left;
		}
		.list-group-image{
    		margin-right: 10px;
    	}
    	.thumbnail{
    		margin-bottom: 0px;	
		}
		.caption{
    		padding: 9px 9px 0px 9px;
		}
	}
	.list-group-item:nth-of-type(odd){
    	background: #eeeeee;
	}
	.list-group-item:before, .list-group-item:after{
    	display: table;
    	content: " ";
	}
	.list-group-item:after{
    	clear: both;
	}
}
.navbar-toggle{
    font-size:2rem;
    color: $navbar-bar-color;
}
.list-group-item-text{
    margin: 0 0 11px;
}