body {
  width: 100%;
  height: 100%;
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  background-color: #f3faf5; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

p {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    p {
      margin: 0 0 25px;
      font-size: 20px;
      line-height: 1.6; } }

a {
  color: #42DCA3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c; }

.light {
  font-weight: 400; }

.navbar-custom {
  display: inline-block;
  float: none;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f3faf5; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 25px;
    color: #272822; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    color: #272822;
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: white; }
  .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: #272822; }
    .navbar-custom .nav li a:hover {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: none; }
    .navbar-custom .nav li.active a {
      background-color: rgba(39, 40, 34, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 768px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        text-align: center;
        background: #f3faf5;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

#banner {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/background.svg) no-repeat bottom center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  #banner .banner-img {
    padding: 20% 0 0 32%;
    width: 100%;
    height: 100%; }
  #banner .text-box {
    padding: 50% 0 0 10%; }
    #banner .text-box h2 {
      padding: 2.5rem 5rem 2.5rem 5rem;
      margin: 0 28% 0 5%;
      background-color: #e92669; }
  #banner .text-box-2 {
    padding: 5% 0 0 15%; }
    #banner .text-box-2 h2 {
      padding: 2.5rem 2.5rem 2.5rem 5rem;
      margin: 0 8% 0 8%;
      background-color: #e92669; }

#explore {
  padding: 90px 0px 0px 0px;
  background: #f2b910; }
  #explore .container {
    background: #f2b910; }
    #explore .container p {
      text-align: center; }
    #explore .container h2 {
      padding: 3% 0 3% 0;
      text-align: center; }
  #explore .bottom {
    height: 240px;
    /*this will work like some padding bottom missing  at section */
    border-width: 0 0 180px 100vw;
    border-style: solid;
    border-color: transparent  transparent #0f345b #f2b910;
    background: #0f345b; }

#procedure {
  padding: 90px 0 0 0;
  background: #0f345b; }
  #procedure .container {
    background: #0f345b; }
    #procedure .container p {
      padding-left: -10%;
      text-align: center; }
    #procedure .container h2 {
      padding: 3% 0 3% 0;
      text-align: center; }
  #procedure .bottom {
    height: 240px;
    /*this will work like some padding bottom missing  at section */
    border-width: 0 0 180px 100vw;
    border-style: solid;
    border-color: transparent  transparent #5aa8dd #0f345b; }

#shopping {
  padding: 90px 0 0 0;
  background: #5aa8dd; }
  #shopping .container {
    background: #5aa8dd; }
    #shopping .container p {
      text-align: center; }
    #shopping .container h2 {
      padding: 5% 0 5% 0;
      text-align: center; }
  #shopping .bottom {
    height: 240px;
    /*this will work like some padding bottom missing  at section */
    border-width: 0 0 180px 100vw;
    border-style: solid;
    border-color: transparent  transparent #c3e8f1 #5aa8dd; }

#qna {
  height: 30%;
  padding-top: 5%;
  padding-bottom: 20%;
  background: #c3e8f1; }
  #qna .container {
    background: #c3e8f1; }
    #qna .container h2 {
      text-align: center;
      color: #22356a; }

.footer-custom {
  padding: 3% 3% 3% 3%;
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif; }
  .footer-custom .footer-lower-bar {
    color: #272822; }
  .footer-custom .footer-upper-bar ul {
    list-style-type: none;
    color: #272822;
    font-size: 1.45rem; }
  .footer-custom .footer-upper-bar li.footer-header {
    color: #dc4b5e;
    font-weight: 500%;
    font-size: 2rem;
    padding: 0 0 2% 0; }
  .footer-custom .facebook-icon {
    font-size: 4rem;
    color: #2699d8; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  height: 100%; }

.ribbon-top {
  left: 0;
  right: 0;
  bottom: 0;
  height: 13px;
  width: 100%;
  z-index: 5;
  background: linear-gradient(90deg, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #a85e6c), color-stop(12.5%, #a85e6c), color-stop(12.5%, #e37f52), color-stop(25%, #e37f52), color-stop(25%, #ef9f48), color-stop(37.5%, #ef9f48), color-stop(37.5%, #9cb641), color-stop(50%, #9cb641), color-stop(50%, #009484), color-stop(62.5%, #009484), color-stop(62.5%, #21acb8), color-stop(75%, #21acb8), color-stop(75%, #1972dd), color-stop(87.5%, #1972dd), color-stop(87.5%, #8fa0ae), color-stop(100%, #8fa0ae));
  background-image: -webkit-linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
  background-image: -moz-linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
  background-image: -o-linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%);
  background-image: linear-gradient(left, #a85e6c 0%, #a85e6c 12.5%, #e37f52 12.5%, #e37f52 25%, #ef9f48 25%, #ef9f48 37.5%, #9cb641 37.5%, #9cb641 50%, #009484 50%, #009484 62.5%, #21acb8 62.5%, #21acb8 75%, #1972dd 75%, #1972dd 87.5%, #8fa0ae 87.5%, #8fa0ae 100%); }

.btn-1 {
  color: #f7f7f7;
  padding: 12px 17px;
  margin: 0 auto;
  font-family: 'OpenSansBold', sans-serif;
  border: 3px solid #f7f7f7;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(45deg, #5bcaff 80%, transparent 51%);
  background-size: 100px 100px;
  /* some initial size to get the slanted appearance */
  background-position: -100px 0px;
  /* negative positioning to hide it initially */
  background-repeat: no-repeat;
  transition: all ease 0.3s; }
  .btn-1:hover {
    background-size: 200% 200%;
    /* 200% because gradient is colored only for 50% */
    background-position: 0px 0px;
    /* bring it fully into view */
    color: #FFF; }

.btn-2 {
  color: #f7f7f7;
  padding: 12px 17px;
  margin: 0 auto;
  font-family: 'OpenSansBold', sans-serif;
  border: 3px solid #f7f7f7;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(45deg, #0f345b 80%, transparent 51%);
  background-size: 100px 100px;
  /* some initial size to get the slanted appearance */
  background-position: -100px 0px;
  /* negative positioning to hide it initially */
  background-repeat: no-repeat;
  transition: all ease 0.3s; }
  .btn-2:hover {
    background-size: 200% 200%;
    /* 200% because gradient is colored only for 50% */
    background-position: 0px 0px;
    /* bring it fully into view */
    color: #FFF; }

.btn-3 {
  color: #0f345b;
  padding: 12px 17px;
  margin: 0 auto;
  font-family: 'OpenSansBold', sans-serif;
  border: 3px solid #0f345b;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(45deg, #f7f7f7 80%, transparent 51%);
  background-size: 100px 100px;
  /* some initial size to get the slanted appearance */
  background-position: -100px 0px;
  /* negative positioning to hide it initially */
  background-repeat: no-repeat;
  transition: all ease 0.3s; }
  .btn-3:hover {
    background-size: 200% 200%;
    /* 200% because gradient is colored only for 50% */
    background-position: 0px 0px;
    /* bring it fully into view */
    color: #0f345b; }

/*# sourceMappingURL=newcomer.css.map */
