<% content_for :head do %>
	<%= stylesheet_link_tag 'curricular' %>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<% end %>
<div class="spacing"></div>
<section class="curricular">
<table>
    <caption>友會列表</caption>
    <thead>
        <tr>
            <th scope="col">友會名稱</th>
            <th scope="col">圖片文宣</th>
            <th scope="col">預覽</th>
            <th scope="col">下載文件</th>
            <th scope="col">FB社團</th>
            <th scope="col">網站</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="友會名稱">高雄屏東校友會(雄友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">台南地區校友會(南友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">嘉義雲林校友會(雲嘉會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">中部校友會(中友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">竹苗地區校友會(竹友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">武陵高中校友會(武友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">桃園地區同鄉會(桃友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">建中北一女校友會(建北會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">北部校友會(北友會) </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">附中山校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">成功景美校友會</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">蘭友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">彰化校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">花蓮校友會</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">澎湖校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">金門校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">松山校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">內湖高中校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">中和高中校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="友會名稱">薇閣校友會 </td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
    </tbody>
</table>
<div class="row important">
    <h4>(註：友會資料陸續增加中！該欄空白代表該友會並未提供該項資料。此表並非所有友會，僅為有提供資料之友會)
        <p>以上資料由各友會提供，並不代表學聯會立場</p>
    </h4>
</div>
</section>