<%= stylesheet_link_tag 'curricular' %>
<div class="spacing"></div>
<section class="curricular">
    <span><h3>交大友會列表</h3></span>
    <div class="row">
        <div class="col-sm-6 pic-col minor-3"> 
            <img src="/assets/alumnian/雄友.jpg" >
        </div>
        <div class="col-sm-6 text-col">
            <h3>雄友會</h3>
            <hr>
            <section class="icons">
            <%= link_to "https://www.facebook.com/groups/1793049137607116/", :target => '_blank' do %>
                <p><i class="fa fa-facebook-official fa-lg"></i></p>
            <% end %>
            <%= link_to "pdf/雄友.pdf", :target => '_blank' do %>
                <p>PDF</p>
            <% end %>
            </section>
        </div>
    </div>
</section>
<div class="row important">
    <h4>(註：友會資料陸續增加中！該欄空白代表該友會並未提供該項資料。此表並非所有友會，僅為有提供資料之友會)
        <p>以上資料由各友會提供，並不代表學聯會立場</p>
    </h4>
</div>
</section>
