<%= stylesheet_link_tag 'curricular' %>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<div class="spacing"></div>
<section class="curricular">
<table>
    <caption>社團列表</caption>
    <thead>
        <tr>
            <th scope="col">系學會名稱</th>
            <th scope="col">圖片文宣</th>
            <th scope="col">預覽</th>
            <th scope="col">下載文件</th>
            <th scope="col">FB社團</th>
            <th scope="col">網站</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="系學會名稱">模擬聯合國社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">AIESEC</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">網路安全策進會</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">烏克麗麗社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">吉他社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">柔道社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">音樂遊戲社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">劍道社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">花輪社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">星聲社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">證卷研習社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">魔術社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">及人服務社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">元氣醫護志工團</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">馬術社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">戲劇社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">崇德青年志工社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">鐵道會</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">信望愛社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">登山社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">彩妝保養社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">漫畫社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">數位音樂創作社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">柏克萊學生團契</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">管樂團</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">鋼琴社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">國樂團</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">高爾夫球社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">布袋戲社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">咖啡社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">慈青社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">文化服務團</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">焦點POP社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">竹韻口琴社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">動畫社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">證研社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">桌上遊戲社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">熱舞社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">橋藝社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">攝影社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">山服社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">單車社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">社會企業創思社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">虹韻世界民族舞蹈社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">散打搏擊社</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">諮商中心</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
    </tbody>
</table>
<div class="row important">
    <h4>(註：社團資料陸續增加中！該欄空白代表該社團並未提供該項資料。此表並非所有社團，僅為有提供資料之社團)
        <p>以上資料由各社團提供，並不代表學聯會立場</p>
    </h4>
</div>
</section>
