<%= render('header') %> 
	<section id="banner">
		<div class="row">
			<div class="col-sm-5 col-sm－offset－1">
				<div class="text-box"><h2>交大網路新生包</h2></div>

				<div class="text-box-2"><h2>認識交大從這裡開始</h2></div>
			</div>
			<div class="col-sm-6">
				<img src="assets/logo.png" class="banner-img">
			</div>
		</div>
	</section>
	<section id="explore">
		<div class="container">
			<h2>行銷部X資訊部</h2>
		    <p>交大學聯會資訊部與行銷部製作網路與實體新生包</p>
		    <p>我們希望新生們能最快地適應新學年的生活</p>
	  </div>
	  <div class="bottom">
	  </div>   
	</section>
	<section id= "procedure"> 
		<div class="container">
			<h2>重要程序</h2>
			<p>註冊前須備妥之文件
			<i class="fa fa-angle-double-right"></i>
			上網登錄基本資料
			<i class="fa fa-angle-double-right"></i>
			學雜費繳費
			<i class="fa fa-angle-double-right"></i>
			選課</p>
			<p><div class="btn-1"><a href="./procedure.php">瞭解詳情</a></div></p>
		</div>
		<div class="bottom"></div>
	</section>
	<section id="shopping"> 
		<div class="container">
			<h2>新生團購</h2>
			<p><div class="btn-2"><a href="./shopping.php">選購吧</a></div></p>
		</div>
		<div class="bottom"></div>
	</section>
	<section id="qna">
		<div class="container">
			<h2>新生提問系統 精選問答集</h2>
			<div class="btn-3"><a href="./qna.php">觀看</a></div> 
		</div>
	</section>
<%= render('footer') %> 