<% content_for :head do %>
        <link rel="stylesheet" href="assets/newcomer-2.scss" />
<% end %>
<div id="map" >
	<section class="map">
		<img alt="交大地圖" src="/assets/map.jpg" />		
	</section>
</div>
