<% content_for :head do %>
		<link rel="stylesheet" href="assets/newcomer-2.scss" />
		<link rel="stylesheet" href="assets/qna.scss" />
<% end %>
<%= render("header2") %>
<h1>新生提問系統 精選問答集</h1>
<ul id="accordion" class="accordion">
  <li>  
	  <div class="link">Q1：想脫魯要怎麼做？
	  	<i class="fa fa-chevron-down"></i>
	  </div>  
	  	<ul class="submenu">    
	  		<li>
	  			<p>小編認為呢，到了交大就要有交不到女朋友的準備...噢不是啦！<br> 想要脫魯當然要先加入學聯會啊！<br>
					學聯會的成員超過一百人，其中大半都是暖男/新好男人，也不乏和小編一樣漂亮的正妹（誤），怎麼可以不好好把握呢？<br>
					當然女孩子也可以嘗試在大馬路上故意讓考卷被吹走（前提是你考好一點）、和同學走在一起的時候踉蹌一下（小心不要跌倒）或是看電影的時候假裝很冷（結果對方沒有帶外套）<br>
					男孩們也可以嘗試在餐廳裡面搭訕（然後被警察抓走）或是出去玩的時候借人家外套（然後被發現有汗臭味）<br>
					不過小編還是認為加入學聯會最快啦！（撒花）<br>
				</p>
			</li>  
		</ul>
	</li>
	<li>  
		<div class="link"> Q2：請問要怎麼交到女朋友？
			<i class="fa fa-chevron-down"></i>
		</div>  
			<ul class="submenu">    
				<li><p>小編認為呢，到了交大就要有交不到女朋友的準備...噢不是啦！<br>
						想要脫魯當然要先加入學聯會啊！<br>
						學聯會的成員超過一百人，其中大半都是暖男/新好男人，也不乏和小編一樣漂亮的正妹（誤），怎麼可以不好好把握呢？<br>
						當然女孩子也可以嘗試在大馬路上故意讓考卷被吹走（前提是你考好一點）、和同學走在一起的時候踉蹌一下（小心不要跌倒）或是看電影的時候假裝很冷（結果對方沒有帶外套）<br>
						男孩們也可以嘗試在餐廳裡面搭訕（然後被警察抓走）或是出去玩的時候借人家外套（然後被發現有汗臭味）<br>
						不過小編還是認為加入學聯會最快啦！（撒花）<br>
					</p>
				</li>  
			</ul>
	</li>
	<li>  
		<div class="link">Q3：請問交大kobe是誰？據說是電子系的… 然後還有obov…我也好像知道桶哥真面目
			<i class="fa fa-chevron-down"></i>
		</div>  
		<ul class="submenu">    
			<li>
				<p>NCTULaoda，俗稱 交大kobe ， 身為交大人必然於網上目睹過他的風采，那華麗的文字與精闢的內容，實在是讓身為kobe迷的小編也看得如癡如醉絲絲入扣啊！然而，人稱樹大招風，NCTU老大必然於世間充滿者許多敵人，像是一直要不到球的隊友，或是看老大一直進球罵不了他的教練，所以即便是動用了舉國資源我們還是依然找不到他，實在是難以回答，但我們相信，行到水窮處一定可以坐看雲起時！只要有心哪怕是沒日沒夜地坐在餐廳等，有朝一日也一定可以瞥見老大的身影的！在這邊祝福你，如果找到了也請跟我們回報呦 >_^
				</p>
			</li>  
		</ul>
	</li>
	<li>  
		<div class="link">Q4：請問交大校地裡面哪一家銀行的提款機比較多?? 要辦哪一家銀行，領錢時才比較不需要手續費呢？
			<i class="fa fa-chevron-down"></i>
		</div>  
		<ul class="submenu">    
			<li>	
				<p>交大裡面的提款機有郵局、玉山銀行還有兆豐銀行的三種唷！郵局ATM分佈在交大第二餐廳後門、綜一以及中正堂側門位置，玉山銀行在交大女二舍餐廳一樓、綜一以及中正堂側門，另外兆豐銀行的提款機在活動中心一樓唷！<br>
				如果有機會領到學校的獎學金，辦理玉山銀行或是郵局的帳戶會比較方便，因為有部份時候學校不願意匯錢到這兩家銀行以外的帳號唷！<br>
				</p>
			</li>  
		</ul>
	</li>
	<li>  
		<div class="link">Q5：請問前輩們建議住宿生自行準備床墊還是購買新生包裡的宣傳上的？因為聽說尺寸不好找…
			<i class="fa fa-chevron-down"></i>
		</div>  
		<ul class="submenu">    
			<li><p>這是我們幾位的經驗：如果自行準備床墊，可能會買到尺寸不合的，因為校內宿舍有部份的床柱會影響到床墊的擺放。新生包上的床墊廠商已跟交大合作多年，因此新生宿舍的床墊尺寸廠商很熟悉，可以放心地訂購！升上不同的年級，換了宿舍，床墊的大小尺寸也不會因此變得不合適唷！如果到時候真的遇到其他問題也能很快速的聯絡到廠商幫忙處理，不用擔心萬一出問題沒有辦法解決～</p></li>  
		</ul>
	</li>
</ul>
<div class="spacing"></div>
<script src="assets/qna.js"></script>
