<% content_for :head do %>
	<%= stylesheet_link_tag 'curricular' %>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<% end %>
<div class="spacing"></div>
<section class="curricular">
<table>
    <caption>系學會列表</caption>
    <thead>
        <tr>
            <th scope="col">系所名稱</th>
            <th scope="col">圖片文宣</th>
            <th scope="col">預覽</th>
            <th scope="col">下載文件</th>
            <th scope="col">FB社團</th>
            <th scope="col">網站</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="系學會名稱">電機資訊學士班</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">奈米科學及工程學士學位學程</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">電子工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">電機工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">光電工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">資訊工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">材料科學與工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">機械工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">土木工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">電子物理工程學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">應用化學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">應用數學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">生物科技學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">資訊管理與財務金融學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">管理科學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">運輸與物流管理學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">工業工程與管理學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">外國語文學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">傳播與科技學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團">
                <a href="#"><i class="fa fa-facebook-official icon"></i></a>
            </td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
        <tr>
            <td scope="row" data-label="系學會名稱">人文社會學系</td>
            <td data-label="圖片文宣"><i class="fa fa-file-image-o"></i></td>
            <td data-label="預覽"> </td>
            <td data-label="下載文件"> </td>
            <td data-label="FB社團"><a href="#"><i class="fa fa-facebook-official icon"></i></a></td>
            <td data-label="網站"><a href="#"><i class="fa fa-chrome icon"></i></a></td>
        </tr>
    </tbody>
</table>
<div class="row important">
    <h4>(註：系學會資料陸續增加中！該欄空白代表該系學會並未提供該項資料。此表並非所有系學會，僅為有提供資料之系學會)
        <p>以上資料由各系學會提供，並不代表學聯會立場</p>
    </h4>
</div>
</section>
